body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Console', 'Monospace', 'sans-serif';
    height: 100vh;
}

.gridContainer {
    display: flex;
    border: 20px ridge black;
    flex-wrap: wrap;
}

button.clear {
    margin-bottom: 20px;
    padding: 5px 20px;
    font-family: 'Lucida Console', 'Monospace', 'sans-serif';
    font-size: 20px;
}